[Unit]
Description=Hackernel

[Service]
Type=forking
Restart=always
RestartSec=3
ExecStart=/usr/bin/daemonize -a -o /var/log/hackernel.log /usr/local/bin/hackernel

[Install]
WantedBy=multi-user.target
